.gameStatRecord
{

    text-align: right;

}

.gameStatRecordID {

    text-align: left;

}

.gameStatRecordID > span {

    color: #0092f2;
    text-shadow: 0 0 1px #0092f2, 0 0 5px #007acc;

}