#portfolio-root
{
    text-align: center;
    overflow: hidden;
    height: 72vh;
    padding-bottom: 10vh;
}

#portfolio-area
{

    height: 100%;
    margin: 5vh auto auto;

}

#portfolio-area::-webkit-scrollbar
{
    width: 6px;
}

#porfolio-area::-webkit-scrollbar-button
{

    display: none;
    height: 0;
    width: 0;

}

#portfolio-area::-webkit-scrollbar-thumb
{
    height: 6px;
    background-clip: padding-box;
    border-radius: 1em;
    background-color: transparent;
    box-shadow: 0 0 3px #00cc00, inset 0 0 3px #00cc00;
}

#portfolio-area::-webkit-scrollbar-track
{

    
    background: transparent;

}

#resume
{
    text-align: right;
}

#resume > a
{

    color: #fe4eda;
    display: inline;
    font-size: 1.5rem;

}

#resume > a:hover
{

    color: rgb(252, 137, 162);
    text-shadow: 0 0 2px #fe4eda, 0 0 3px #fe4eda, 0 0 5px #fe4eda;

}

.header
{
    padding: 1em 0;
    display: block;
    text-align: center;
}

.header > ul
{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: inline-block;
}

.header > ul > li
{
    display: inline-block;
    padding: 0 4.5vh;
    font-size: 1.5em;
}

.header > ul > li > a
{
    color: #10cc10;
}

.header > ul > li > a:hover
{
    color: #99ff99;
}

.project-title
{
    margin-top: 1rem;
    text-align: left;
    margin-bottom: 1rem;
}

/*TODO have it so only the one being looked at glows.*/
.project-title > h2
{
    display: inline;
    color: #ebc000;
    text-shadow: 0 0 5px #ebc000;
}

.project-content
{
    margin-left: 1.7rem;
    text-align: left;
    overflow: hidden;
    color: #008200;
}

#libant-demo
{
    width: 300px;
    height: 300px;
    margin-right: 20px;
    float: left;
}

.project-break
{

    border-color: #454545;
    margin-top: 1.3rem;
    margin-bottom: 2rem;

}

.target-link
{
    color: #30cc30;
}

.target-link:hover
{
    text-shadow: 0px 0px 5px red;
}

.tech
{

    color: #ff3030;
    text-shadow: 0 0 4px #e70000, 0 0 1px #e70000;

}

ul.techs
{

    list-style: none;

}

ul.techs li
{

    margin-left: 20px;

}

ul.techs li::before
{

    content: "\2699\0009";
    color: #ff5050;
    text-shadow: 0 0 6px #e70000, 0 0 3px #e70000;

}

/*About Me*/
